.container {
  width: 100%;
  height: 100%;
}

html {
  background: #161616;
}

body {
  margin: 0;
  padding-bottom: 25px;
}

:focus {
  outline: transparent;
  box-shadow: 0 0 0 1.5px #1E6F9F;
}

button {
  cursor: pointer;
}